body {
    background: #EFEFEF;
    font-family: Times, 'Open Sans';
}

a {
    color: inherit;
    text-decoration: none;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
}

ul,
ol {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

[data-x].active {
    outline: 5px solid red
}

[data-x].offset {
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
}

[data-x] {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.topNavBar {
    padding: 20px 0 20px 0;
    color: #b7b7b7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    z-index: 10;
}

.topNavBar.sticky {
    background: #FFFFFF;
    padding: 10px 0 10px 0;
    color: #3D4451;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.topNavBar-inner {
    padding: 0 16px;
}

.topNavBar nav {
    padding-top: 7px;
}

.topNavBar nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topNavBar nav>ul>li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}

.topNavBar nav>ul>li>a {
    font-size: 12px;
    font-weight: bold;
    border-top: 3px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    position: relative;
}

.topNavBar nav>ul>li.active>a::after,
.topNavBar nav>ul>li.highlight>a::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    height: 3px;
    left: 0;
    width: 100%;
    border-radius: 1px;
    background: #e8676b;
    animation: b ease-out 0.1s;
    -webkit-animation: b ease-out 0.1s;
}

@keyframes b {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.topNavBar .subMenu {
    margin-top: 5px;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: white;
    color: #3D4451;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.topNavBar .subMenu>li {
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 12px;
}

.topNavBar li.active>.subMenu {
    display: block;
    animation: submenuSlide ease-out 0.1s;
    -webkit-animation: submenuSlide ease-out 0.1s;
}

@keyframes submenuSlide {
    0% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

.topNavBar .logo {
    font-size: 30px;
    font-family: 'Fredoka One';
    padding-top: 10px;
    padding-bottom: 4px;
}

.topNavBar .logo .rs {
    margin-right: 5px;
    color: #e6686a;
}

.topNavBar .logo .card {
    color: #9a9da2;
}

.banner {
    height: 515px;
    background-image: url('../images/rs-cover.jpg');
    background-size: cover;
    background-position: center center;
}

.banner .mask {
    height: 515px;
    background-color: rgba(10, 15, 35, 0.7)
}

.userCard {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    margin-top: -355px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.8);
}

.userCard .welcome {
    background: #E8676B;
    display: inline-block;
    color: white;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}

.userCard .welcome .triangle {
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e8676b;
    border-top-width: 0px;
    position: absolute;
    top: 100%;
    left: 10px;
}

.userCard .picture {
    float: left;
    margin-right: 65px;
}

.userCard .text {
    float: left;
    width: 470px;
}

.userCard .text h1 {
    margin-top: 18px;
    margin-bottom: 15px;
}

.userCard .text hr {
    margin: 20px 0;
}

.userCard .pictureAndText {
    padding: 60px 50px;
}

.userCard dl dt,
.userCard dl dd {
    float: left;
    padding: 10px 0;
}

.userCard dl dt {
    width: 30%;
    font-weight: bold;
}

.userCard dl dd {
    width: 70%;
    color: #9DA0A7;
}

.userCard>footer.media {
    background: #e8676b;
    text-align: center;
}

.userCard>footer.media>a {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    line-height: 30px;
    padding: 5px 5px;
    margin: 16px 16px;
}

.userCard>footer.media>a:hover {
    background: #D05C60;
}

.userCard svg {
    height: 30px;
    width: 30px;
    fill: #FFFFFF;
}

.downloadResume-wrapper {
    text-align: center;
    margin: 33px auto;
}

.downloadResume-wrapper>a {
    display: inline-block;
    border: 1px solid #CBCDCF;
    line-height: 16px;
    padding: 21px 55px;
    color: #3D4451;
    font-weight: bold;
}

.downloadResume-wrapper>a:hover {
    box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.5s;
    -webkit-transition: box-shadow 0.5s;
    -moz-transition: box-shadow 0.5s;
    -ms-transition: box-shadow 0.5s;
    -o-transition: box-shadow 0.5s;
}

.selfIntroduction {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.8;
    font-family: Times, serif;
    font-size: 18px;
}

h2 {
    font-family: Times, "Open Sans";
    font-size: 34px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-top: 80px;
    color: #3D4451;
    margin-bottom: 30px;
}

h3 {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    color: #3E4552;
}

section.skills,
section.portfolio {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.skills>ol {
    background: #FFFFFF;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.8);
    padding: 50px 50px 10px 50px;
    box-sizing: border-box;
}

.skills>ol>li {
    width: 48%;
    float: left;
    margin-bottom: 40px;
}

.skills>ol>li:nth-child(even) {
    float: right;
}

.skills>ol>li>.progressBar {
    margin-top: 4px;
    height: 5px;
    width: 100%;
    background: #F8DFE0;
    border-radius: 2px;
    overflow: hidden;
}

.skills>ol>li>.progressBar>.progress {
    background: #E8676B;
    border-radius: 2px;
    height: 100%;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.skills.offset>ol>li>.progressBar>.progress {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

section.portfolio {
    text-align: center;
    margin-bottom: 100px;
}

section.portfolio>nav {
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

section.portfolio>nav>ol {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 12px;
}

section.portfolio>nav>ol>li {
    float: left;
    margin-left: 48px;
    cursor: pointer;
}

section.portfolio>nav>ol>li:first-child {
    margin-left: 0;
}

section.portfolio>nav .bar {
    height: 5px;
    background: #ffffff;
    border-radius: 2px;
    margin-bottom: 30px;
}

section.portfolio>nav .bar-inner {
    height: 100%;
    background: #E8676B;
    border-radius: 2px;
    transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -ms-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
}

section.portfolio>nav .bar.state-1 .bar-inner {
    margin-left: 0px;
    width: 20%;
}

section.portfolio>nav .bar.state-2 .bar-inner {
    margin-left: 49px;
    width: 34%;
}

section.portfolio>nav .bar.state-3 .bar-inner {
    margin-left: 135px;
    width: 46%;
}

section.portfolio>.works {
    position: relative;
}

section.portfolio>.works>.big,
section.portfolio>.works>.small {
    position: absolute;
}